
<div class="reminders"  >
<h1> <span class="banner" >My Reminders Home Page</span> </h1>
</div>

<div class="row"  align="right">
  <button class="badge" routerLink="/addRemindrInfo">&#9998; Create  Reminder</button>
</div>
<ul class="reminders">
  <li *ngFor="let reminderInfo of reminderInfoList" >
    <span class="badge" >{{reminderInfo.reminderType}}</span> {{reminderInfo.description}}
  </li>
</ul>
