<div class="reminders">
        <h1> <span class="banner" >Add Reminders</span> </h1>
        </div>
<div class="container">
    <div class="row">
            <form (ngSubmit)="saveReminderInfo()">

                    <div class="form-group">
                            <input type="text" name="reminderInfo" [(ngModel)]="reminderInfo.reminderType"
                            placeholder="Enter Reminder Type " class="form-control col-md-12 "/>
                    </div>

                    <div class="form-group">
                            <textarea type="text" name="description" [(ngModel)]="reminderInfo.description"
                            placeholder="Enter description" class="form-control col-md-12"></textarea>
                    </div>
                    
                     <nav>
                        <button type="submit" class="btn btn-primary">Add Reminder</button>
                        <button class="col-md-4" routerLink="/remindrinfo"> Cancel</button>
                    </nav>
            </form>
    </div>
</div>